n8n-files/Quantbot.json
{
  "name": "Quantbot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 31
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        -272
      ],
      "id": "299059c5-2a57-480e-b74b-9173cc2b0e7a",
      "name": "Schedule OPEN"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        144
      ],
      "id": "8cdfe92f-5e82-468e-89c2-ab0173a127d7",
      "name": "Schedule CLOSE"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        -64
      ],
      "id": "d83f9264-b83a-48ab-a6ad-cad86362d85b",
      "name": "Schedule MID"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/reports/latest.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        -80
      ],
      "id": "bb355b28-d2fc-48cc-a7a1-8ed3c0d44172",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17299697-ded5-4e50-b2aa-c6e68db65b84",
              "name": "mode",
              "value": "open",
              "type": "string"
            },
            {
              "id": "67d1d3f2-23eb-4292-99fa-d0082249dce6",
              "name": "session_label",
              "value": "OPEN",
              "type": "string"
            },
            {
              "id": "835c644b-dd33-42a3-90a7-582869e8e249",
              "name": "expected_time",
              "value": "9:31",
              "type": "string"
            },
            {
              "id": "0df1f29e-ad8b-4571-8d29-7fb1434c32e4",
              "name": "email_subject_prefix",
              "value": "QuantBot \n OPEN",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -272
      ],
      "id": "6ec88171-6b50-421b-8950-3c2f372f8dba",
      "name": "Set OPEN Context"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "571d2b11-9c03-47ab-9693-fb23e97bf516",
              "name": "mode",
              "value": "mid",
              "type": "string"
            },
            {
              "id": "0558777f-51d3-46e1-a6d9-1e0a0b4ee754",
              "name": "session_label",
              "value": "MID",
              "type": "string"
            },
            {
              "id": "0ea12956-69ec-47fa-8045-5f00c6c3512e",
              "name": "expected_time",
              "value": "12:00",
              "type": "string"
            },
            {
              "id": "ee42ba3b-9216-4021-9275-bcfa98279f6a",
              "name": "email_subject_prefix",
              "value": "QuantBot \n MID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -64
      ],
      "id": "fa1e7dde-f305-4e37-937c-b9ccec38cf02",
      "name": "Set MID Context"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "571d2b11-9c03-47ab-9693-fb23e97bf516",
              "name": "mode",
              "value": "close",
              "type": "string"
            },
            {
              "id": "0558777f-51d3-46e1-a6d9-1e0a0b4ee754",
              "name": "session_label",
              "value": "CLOSE",
              "type": "string"
            },
            {
              "id": "0ea12956-69ec-47fa-8045-5f00c6c3512e",
              "name": "expected_time",
              "value": "16:00",
              "type": "string"
            },
            {
              "id": "ee42ba3b-9216-4021-9275-bcfa98279f6a",
              "name": "email_subject_prefix",
              "value": "QuantBot \n CLOSE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        144
      ],
      "id": "ef38ea10-d474-41fe-b4ee-488847f2a3d1",
      "name": "Set CLOSE Context"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef801a35-ad8e-4a72-b2c5-88ca99861683",
              "name": "mode",
              "value": "={{$json.mode}}",
              "type": "string"
            },
            {
              "id": "d6136c90-08d6-4d60-8b2d-fde37ecde3ce",
              "name": "session_label",
              "value": "={{$json.session_label}}",
              "type": "string"
            },
            {
              "id": "7fa0c374-78db-4001-9da4-bc0e6134a207",
              "name": "run_timestamp",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "24982e7c-1077-4502-88bc-244c36724977",
              "name": "report_source_path",
              "value": "/home/node/.n8n-files/reports/latest.md",
              "type": "string"
            },
            {
              "id": "98f02858-8700-407c-8772-505affbccfa6",
              "name": "history_dir",
              "value": "/home/node/.n8n-files/history",
              "type": "string"
            },
            {
              "id": "2244a633-b39c-41aa-9d7a-165fa2e58ac5",
              "name": "history_filename",
              "value": "={{$json.mode}}-{{$now.format('yyyy-LL-dd-HH-mm-ss')}}.md",
              "type": "string"
            },
            {
              "id": "ff1ac9b3-99bc-4b6d-9412-72041eaff393",
              "name": "history_full_path",
              "value": "={{'/home/node/.n8n-files/history/' + $json.mode + '-' + $now.format('yyyy-LL-dd-HH-mm-ss') + '.md'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -272
      ],
      "id": "473dcb37-6262-43be-b5fa-ce05f6e44f20",
      "name": "Prepare Execution Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5000/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "={{$json.mode}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        -64
      ],
      "id": "0c8f91ed-6f30-4610-a8b3-9bc8a6f934bd",
      "name": "Run QuantBot"
    },
    {
      "parameters": {
        "fromEmail": "ppherrero90@gmail.com",
        "toEmail": "ppherrero90@gmail.com",
        "subject": "={{$json.subject}}",
        "html": "={{$json.body}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        592,
        240
      ],
      "id": "26e0a71e-1857-4f0b-b108-bae2d97dacb5",
      "name": "Send error Email",
      "webhookId": "cbbd4d32-a786-440f-ad38-230bd5a0ce6e",
      "credentials": {
        "smtp": {
          "id": "AUoaZ91tavu3TcgU",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        368,
        -80
      ],
      "id": "e156db2d-4eb9-42d3-9748-6c0ed537a899",
      "name": "Extract Report Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "573ce1cb-8133-4a5e-94df-0a85558ea2e7",
              "leftValue": "={{$json.data}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        -80
      ],
      "id": "7c108f2b-0495-497c-badb-d45a422628ac",
      "name": "Report has content?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        -256
      ],
      "id": "7f10029b-3b1b-49fe-9fc7-0b559ad86568",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd6c0f30-48eb-4b15-b62d-7d507fa47acf",
              "leftValue": "={{$json.returncode}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "48b2b298-2e2e-40f0-8f23-cf88c7dc0b09",
              "leftValue": "={{$json.stdout}}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        -64
      ],
      "id": "3bf74f01-9f2f-47a3-b980-7f3617417f3a",
      "name": "Has data?"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {
          "fileName": "report.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        928,
        -32
      ],
      "id": "f1b91c7d-454e-4522-afce-ee652a84b0b0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{$json.history_full_path}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1248,
        -112
      ],
      "id": "acb58089-e03c-46fc-9eee-3e04059d2eaa",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        -112
      ],
      "id": "fbbfa8e4-c785-4b6f-a231-966850dfb5e9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst historyPath = '/home/node/.n8n-files/history.json';\n\nconst item = $input.first().json;\nconst txt = String(item.data || '');\nconst lines = txt.split('\\n').map(l => l.trim());\n\nconst findValue = (prefix) => {\n  const line = lines.find(l => l.toLowerCase().startsWith(prefix.toLowerCase()));\n  if (!line) return null;\n  const colonIdx = line.indexOf(':');\n  if (colonIdx === -1) return null;\n  return line.slice(colonIdx + 1).replace(/\\*\\*/g, '').trim();\n};\n\nconst parseNum = (v) => {\n  if (v === null || v === undefined) return null;\n  const n = Number(String(v).replace(/[$%,\\s]/g, ''));\n  return Number.isNaN(n) ? null : n;\n};\n\nconst entry = {\n  ts: new Date().toISOString(),\n  slot: item.session_label || 'UNKNOWN',\n  equityPre: parseNum(findValue('- Equity (pre)')),\n  equityPost: parseNum(findValue('- Equity (post)')),\n  cash: parseNum(findValue('- Cash')),\n  exposurePct: parseNum(findValue('- Exposición')),\n  drawdownPct: parseNum(findValue('- Drawdown (vs pico)')),\n  targetPerPos: parseNum(findValue('- Target por posición')),\n  rawLen: txt.length\n};\n\nlet history = [];\ntry {\n  const raw = fs.readFileSync(historyPath, 'utf8');\n  if (raw.trim()) history = JSON.parse(raw);\n} catch (e) {\n  history = [];\n}\n\nhistory.push(entry);\nfs.mkdirSync(path.dirname(historyPath), { recursive: true });\nfs.writeFileSync(historyPath, JSON.stringify(history, null, 2));\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -320
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-340123456789",
      "name": "Update History"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f370def7-efba-42a1-b4b6-92a4a8bdb7da",
              "name": "subject",
              "value": "={{'QuantBot | ' + $json.session_label + ' | ' + $now.format('yyyy-LL-dd HH:mm') + ' NY'}}",
              "type": "string"
            },
            {
              "id": "e7802d8e-84f7-4ba0-a82c-b9e487e3b6fe",
              "name": "body",
              "value": "={{\n(() => {\n  const txt = String($json.data || \"\");\n  const lines = txt.split('\\n').map(l => l.trim());\n\n  const findValue = (startsWithText) => {\n    const line = lines.find(l => l.toLowerCase().startsWith(startsWithText.toLowerCase()));\n    if (!line) return \"\";\n    const parts = line.split(':');\n    return parts.length > 1 ? parts.slice(1).join(':').replace(/\\*\\*/g, '').replace(/\"/g, '').trim() : \"\";\n  };\n\n  const equity = findValue('- Equity (post)') || findValue('- Equity (pre)');\n  const cash = findValue('- Cash');\n  const exposure = findValue('- Exposición');\n  const drawdown = findValue('- Drawdown (vs pico)');\n\n  const formatMoney = (v) => {\n    const n = Number(String(v).replace(/,/g, '').replace(/\\$/g, '').trim());\n    if (Number.isNaN(n)) return v || '-';\n    return '$' + Math.round(n).toLocaleString('en-US');\n  };\n\n  const pnlColor = (v) => {\n    const n = Number(String(v).replace('%', '').replace(',', '.').trim());\n    if (Number.isNaN(n)) return '#111827';\n    return n < 0 ? '#b91c1c' : '#15803d';\n  };\n\n  const pnlArrow = (v) => {\n    const n = Number(String(v).replace('%', '').replace(',', '.').trim());\n    if (Number.isNaN(n)) return '';\n    return n < 0 ? '▼' : '▲';\n  };\n\n  const drawdownColor = pnlColor(drawdown);\n\n  const posStart = lines.findIndex(l => l.includes('## Posiciones actuales'));\n  const posEnd = lines.findIndex((l, i) => i > posStart && l.startsWith('## '));\n\n  const posLines = posStart >= 0\n    ? lines.slice(posStart + 1, posEnd >= 0 ? posEnd : lines.length)\n    : [];\n\n  const positions = posLines\n    .filter(l => l.startsWith('-'))\n    .map(l => l.replace(/\\*\\*/g, '').trim())\n    .map(l => {\n      const ticker = (l.match(/-?\\s*([A-Z][A-Z0-9.-]*)/) || [])[1] || '';\n      const shares = (l.match(/([0-9.]+)\\s*sh/i) || [])[1] || '';\n      const avg = (l.match(/avg\\s*([0-9.]+)/i) || [])[1] || '';\n      const close = (l.match(/close\\s*([0-9.]+)/i) || [])[1] || '';\n      const mv = (l.match(/mv\\s*([0-9.]+)/i) || [])[1] || '';\n      const pnl = (l.match(/pnl\\s*([-0-9.]+%)/i) || [])[1] || '';\n      return { ticker, shares, avg, close, mv, pnl };\n    })\n    .filter(p => p.ticker);\n\n  const positionsHtml = positions.length\n    ? positions.map(p => `\n      <div style=\"padding:14px 16px;border:1px solid #e5e7eb;border-radius:14px;background:#ffffff;\">\n        <div style=\"display:flex;justify-content:space-between;align-items:center;margin-bottom:8px;\">\n          <div style=\"font-size:16px;font-weight:800;color:#111827;\">${p.ticker}</div>\n          <div style=\"font-size:14px;font-weight:800;color:${pnlColor(p.pnl)};\">\n            ${pnlArrow(p.pnl)} ${p.pnl || '-'}\n          </div>\n        </div>\n        <div style=\"font-size:13px;color:#374151;line-height:1.6;\">\n          <b>Shares:</b> ${p.shares || '-'}<br>\n          <b>Avg:</b> ${p.avg || '-'}<br>\n          <b>Close:</b> ${p.close || '-'}<br>\n          <b>MV:</b> ${p.mv || '-'}\n        </div>\n      </div>\n    `).join('')\n    : `<div style=\"color:#6b7280;\">Sin posiciones</div>`;\n\n  return `\n  <div style=\"background:#f3f4f6;padding:32px 16px;font-family:Arial,Helvetica,sans-serif;\">\n    <div style=\"max-width:820px;margin:0 auto;\">\n\n      <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:18px;padding:22px 20px;margin-bottom:16px;\">\n        <div style=\"font-size:18px;font-weight:800;color:#111827;margin-bottom:6px;\">\n          📊 QuantBot ${$json.session_label}\n        </div>\n        <div style=\"font-size:13px;color:#6b7280;\">\n          ${$json.run_timestamp}\n        </div>\n      </div>\n\n      <div style=\"display:grid;grid-template-columns:1fr;gap:10px;\">\n\n        <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:14px 16px;\">\n          <div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Equity</div>\n          <div style=\"font-size:16px;font-weight:800;color:#111827;\">${formatMoney(equity)}</div>\n        </div>\n\n        <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:14px 16px;\">\n          <div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Cash</div>\n          <div style=\"font-size:16px;font-weight:800;color:#111827;\">${formatMoney(cash)}</div>\n        </div>\n\n        <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:14px 16px;\">\n          <div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Exposure</div>\n          <div style=\"font-size:16px;font-weight:800;color:#111827;\">${exposure || '-'}</div>\n        </div>\n\n        <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:14px 16px;\">\n          <div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Drawdown</div>\n          <div style=\"font-size:16px;font-weight:800;color:${drawdownColor};\">\n            ${drawdown ? `${pnlArrow(drawdown)} ${drawdown}` : '-'}\n          </div>\n        </div>\n\n      </div>\n\n      <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:18px;padding:18px 20px;margin-top:16px;\">\n        <div style=\"font-size:18px;font-weight:800;color:#111827;margin-bottom:14px;\">\n          Positions\n        </div>\n        <div style=\"display:grid;grid-template-columns:1fr;gap:10px;\">\n          ${positionsHtml}\n        </div>\n      </div>\n\n    </div>\n  </div>\n  `;\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        -112
      ],
      "id": "4c995e18-8589-4566-a217-5b75e2dca325",
      "name": "Build Success Email"
    },
    {
      "parameters": {
        "fromEmail": "ppherrero90@gmail.com",
        "toEmail": "ppherrero90@gmail.com",
        "subject": "={{$json.subject}}",
        "html": "={{$json.body}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1584,
        -112
      ],
      "id": "0897851d-dca2-4e1a-8a9b-25ff9907f547",
      "name": "Send Success Email",
      "webhookId": "a5ed3992-ce8a-47c0-8981-4f0ddd4b0997",
      "credentials": {
        "smtp": {
          "id": "AUoaZ91tavu3TcgU",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7168106-e8e9-4015-86c3-26f12216aaff",
              "name": "subject",
              "value": "=={{'[ERROR] QuantBot | ' + ($json.session_label || 'UNKNOWN') + ' | ' + $now.format('yyyy-LL-dd HH:mm') + ' NY'}}",
              "type": "string"
            },
            {
              "id": "22beeb03-9d6d-4372-be0d-bb006602dd4d",
              "name": "body",
              "value": "={{\n(() => {\n  const sessionLabel = $json.session_label || 'UNKNOWN';\n  const mode = $json.mode || 'UNKNOWN';\n  const timestamp = $json.run_timestamp || $now.toString();\n\n  const errorStage =\n    $json.returncode !== undefined && Number($json.returncode) !== 0\n      ? 'BOT_EXECUTION'\n      : (!$json.data || String($json.data).trim() === '')\n        ? 'EMPTY_REPORT'\n        : 'UNKNOWN_STAGE';\n\n  const raw = JSON.stringify($json, null, 2)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n\n  return `\n  <div style=\"background:#f3f4f6;padding:32px 16px;font-family:Arial,Helvetica,sans-serif;\">\n    <div style=\"max-width:820px;margin:0 auto;\">\n\n      <div style=\"background:#ffffff;border:1px solid #fecaca;border-radius:18px;padding:22px 20px;margin-bottom:16px;\">\n        <div style=\"font-size:18px;font-weight:800;color:#991b1b;margin-bottom:6px;\">\n          ❌ QuantBot Error\n        </div>\n        <div style=\"font-size:13px;color:#6b7280;\">\n          ${timestamp}\n        </div>\n      </div>\n\n      <div style=\"display:grid;grid-template-columns:1fr;gap:10px;\">\n\n        <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:14px 16px;\">\n          <div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Session</div>\n          <div style=\"font-size:16px;font-weight:800;color:#111827;\">${sessionLabel}</div>\n        </div>\n\n        <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:14px 16px;\">\n          <div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Mode</div>\n          <div style=\"font-size:16px;font-weight:800;color:#111827;\">${mode}</div>\n        </div>\n\n        <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:14px 16px;\">\n          <div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Stage</div>\n          <div style=\"font-size:16px;font-weight:800;color:#991b1b;\">${errorStage}</div>\n        </div>\n\n      </div>\n\n      <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:18px;padding:18px 20px;margin-top:16px;\">\n        <div style=\"font-size:18px;font-weight:800;color:#111827;margin-bottom:14px;\">\n          Raw details\n        </div>\n        <pre style=\"white-space:pre-wrap;word-break:break-word;font-size:12px;line-height:1.5;color:#374151;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:14px;\">${raw}</pre>\n      </div>\n\n    </div>\n  </div>\n  `;\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        240
      ],
      "id": "51911f9b-1194-47cf-9a42-c27e33375537",
      "name": "Build Error Email"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule OPEN": {
      "main": [
        [
          {
            "node": "Set OPEN Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule MID": {
      "main": [
        [
          {
            "node": "Set MID Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule CLOSE": {
      "main": [
        [
          {
            "node": "Set CLOSE Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OPEN Context": {
      "main": [
        [
          {
            "node": "Prepare Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set MID Context": {
      "main": [
        [
          {
            "node": "Prepare Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set CLOSE Context": {
      "main": [
        [
          {
            "node": "Prepare Execution Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Execution Metadata": {
      "main": [
        [
          {
            "node": "Run QuantBot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run QuantBot": {
      "main": [
        [
          {
            "node": "Has data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Report has content?": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Build Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Report has content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has data?": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Update History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update History": {
      "main": [
        [
          {
            "node": "Build Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Email": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Email": {
      "main": [
        [
          {
            "node": "Send error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "64948266-9010-4a54-891d-05dbc117213d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b6894db675646f66b57a64b798c7700329640b2a857df381e64667cc8393bc4"
  },
  "id": "b21VgvmqVriUaKJz",
  "tags": []
}