n8n-files/Quantbot.json
{
  "name": "Quantbot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        176
      ],
      "id": "c0281694-8861-47c6-aa72-bb7a2c9f187d",
      "name": "Schedule MID"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        528
      ],
      "id": "bcba3cc4-df1d-4858-8541-a108822b1503",
      "name": "Schedule CLOSE"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/latest.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        80,
        -224
      ],
      "id": "16f08956-4cd4-4eab-96a0-1cb63d1b4fa8",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        288,
        -224
      ],
      "id": "df4bdebc-c1c9-4455-8538-42107505cc4e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fromEmail": "ppherrero90@gmail.com",
        "toEmail": "ppherrero90@gmail.com",
        "subject": "OPEN",
        "html": "={{$json.html}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1712,
        -224
      ],
      "id": "882bf70b-dfb9-482e-9565-e07f06f098c7",
      "name": "Send an Email",
      "webhookId": "a74a6dd5-16a2-45f7-9984-5c179d9bea3a",
      "credentials": {
        "smtp": {
          "id": "jRnDyceGJIdQWoYY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/latest.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -112,
        176
      ],
      "id": "4f9d063b-4b0a-4e1f-885a-44ed90d6965f",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        96,
        176
      ],
      "id": "6a222cfc-4468-4554-9f5b-c297b84b7fb3",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/latest.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -112,
        528
      ],
      "id": "6baacf1b-d223-4f7d-a431-538bff40ede6",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        96,
        528
      ],
      "id": "3ee3c956-0e9c-4093-b624-b5e98ef5ad41",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.data || \"\").trim();\n\nconst esc = (s) => s\n  .replace(/&/g, \"&amp;\")\n  .replace(/</g, \"&lt;\")\n  .replace(/>/g, \"&gt;\");\n\nconst mdBold = (s) => s.replace(/\\*\\*(.+?)\\*\\*/g, \"<b>$1</b>\");\n\nconst lines = raw.split(\"\\n\").map(l => l.trim());\n\n// Helpers para encontrar secciones\nfunction sectionBetween(startHeader, endHeader) {\n  const start = lines.findIndex(l => l.startsWith(startHeader));\n  if (start === -1) return [];\n  const end = endHeader\n    ? lines.findIndex((l, i) => i > start && l.startsWith(endHeader))\n    : -1;\n  return lines.slice(start + 1, end === -1 ? lines.length : end);\n}\n\n// Extrae resumen (líneas con \"- ...\")\nconst resumen = sectionBetween(\"## Resumen\", \"## Trades\");\nconst trades = sectionBetween(\"## Trades\", \"## Posiciones\");\nconst posiciones = sectionBetween(\"## Posiciones\", \"## Alertas\");\nconst alertas = sectionBetween(\"## Alertas\", \"## Parámetros\");\nconst params = sectionBetween(\"## Parámetros\", null);\n\n// Parse resumen clave-valor\nconst resumenKV = resumen\n  .filter(l => l.startsWith(\"- \"))\n  .map(l => l.slice(2))\n  .map(l => {\n    const idx = l.indexOf(\":\");\n    if (idx === -1) return null;\n    return { k: l.slice(0, idx).trim(), v: l.slice(idx + 1).trim() };\n  })\n  .filter(Boolean);\n\n// Parse posiciones a tabla\n// Formato esperado: - **TICKER**: X sh | avg Y | close Z | mv A | pnl B\nconst posRows = posiciones\n  .filter(l => l.startsWith(\"- \"))\n  .map(l => l.slice(2))\n  .map(l => {\n    const m = l.match(/^\\*\\*(.+?)\\*\\*:\\s*([0-9.]+)\\s*sh\\s*\\|\\s*avg\\s*([0-9.]+)\\s*\\|\\s*close\\s*([0-9.]+)\\s*\\|\\s*mv\\s*([0-9.]+)\\s*\\|\\s*pnl\\s*([-\\d.]+%)/i);\n    if (!m) return null;\n    return {\n      ticker: m[1],\n      sh: m[2],\n      avg: m[3],\n      close: m[4],\n      mv: m[5],\n      pnl: m[6],\n    };\n  })\n  .filter(Boolean);\n\nconst resumenCards = resumenKV.map(({k,v}) => `\n  <div style=\"border:1px solid #e5e7eb;border-radius:12px;padding:10px;background:#ffffff;\">\n    <div style=\"font-size:12px;color:#6b7280;margin-bottom:4px;\">${esc(k)}</div>\n    <div style=\"font-size:16px;font-weight:800;color:#111827;\">${mdBold(esc(v))}</div>\n  </div>\n`).join(\"\");\n\nconst posTable = posRows.length ? `\n  <table style=\"width:100%;border-collapse:separate;border-spacing:0;overflow:hidden;border:1px solid #e5e7eb;border-radius:14px;background:#ffffff;\">\n    <thead>\n      <tr>\n        <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Ticker</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Shares</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Avg</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Close</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">MV</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">PnL</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${posRows.map(r => `\n        <tr>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;\"><b>${esc(r.ticker)}</b></td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.sh)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.avg)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.close)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.mv)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.pnl)}</td>\n        </tr>\n      `).join(\"\")}\n    </tbody>\n  </table>\n` : `<div style=\"color:#6b7280;\">(Sin posiciones)</div>`;\n\nconst listBlock = (title, arr) => {\n  const items = arr.filter(l => l.startsWith(\"- \")).map(l => `<li>${mdBold(esc(l.slice(2)))}</li>`).join(\"\");\n  if (!items) return \"\";\n  return `\n    <div style=\"border:1px solid #e5e7eb;border-radius:14px;padding:14px;background:#ffffff;margin-top:12px;\">\n      <div style=\"font-weight:900;margin-bottom:8px;\">${esc(title)}</div>\n      <ul style=\"margin:0 0 0 18px;padding:0;line-height:1.45;\">${items}</ul>\n    </div>\n  `;\n};\n\nconst html = `\n<div style=\"font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial; background:#f3f4f6; padding:18px;\">\n  <div style=\"max-width:820px;margin:0 auto;\">\n    <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:18px;\">\n      <div style=\"font-size:22px;font-weight:900;margin:0 0 4px;\">OPEN — Reporte diario</div>\n      <div style=\"color:#6b7280;font-size:12px;\">${new Date().toISOString()}</div>\n    </div>\n\n    <div style=\"display:grid;grid-template-columns:repeat(2,minmax(0,1fr));gap:10px;margin:12px 0;\">\n      ${resumenCards}\n    </div>\n\n    <div style=\"margin:12px 0;\">\n      <div style=\"font-weight:900;margin:0 0 8px;\">Posiciones actuales</div>\n      ${posTable}\n    </div>\n\n    ${listBlock(\"Trades de hoy\", trades)}\n    ${listBlock(\"Alertas / avisos\", alertas)}\n    ${listBlock(\"Parámetros clave\", params)}\n\n    <div style=\"color:#6b7280;font-size:12px;margin-top:14px;text-align:center;\">Enviado automáticamente con n8n</div>\n  </div>\n</div>\n`;\n\nreturn [{ json: { ...$json, html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -224
      ],
      "id": "a2d2d7f1-474a-4a3f-ba57-ba6d79e1ea7d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "ppherrero90@gmail.com",
        "toEmail": "ppherrero90@gmail.com",
        "subject": "MID",
        "html": "={{$json.html}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1520,
        176
      ],
      "id": "dce7f128-4b68-47d5-88bb-7916bbd81677",
      "name": "Send an Email1",
      "webhookId": "a74a6dd5-16a2-45f7-9984-5c179d9bea3a",
      "credentials": {
        "smtp": {
          "id": "jRnDyceGJIdQWoYY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.data || \"\").trim();\n\nconst esc = (s) => s\n  .replace(/&/g, \"&amp;\")\n  .replace(/</g, \"&lt;\")\n  .replace(/>/g, \"&gt;\");\n\nconst mdBold = (s) => s.replace(/\\*\\*(.+?)\\*\\*/g, \"<b>$1</b>\");\n\nconst lines = raw.split(\"\\n\").map(l => l.trim());\n\n// Helpers para encontrar secciones\nfunction sectionBetween(startHeader, endHeader) {\n  const start = lines.findIndex(l => l.startsWith(startHeader));\n  if (start === -1) return [];\n  const end = endHeader\n    ? lines.findIndex((l, i) => i > start && l.startsWith(endHeader))\n    : -1;\n  return lines.slice(start + 1, end === -1 ? lines.length : end);\n}\n\n// Extrae resumen (líneas con \"- ...\")\nconst resumen = sectionBetween(\"## Resumen\", \"## Trades\");\nconst trades = sectionBetween(\"## Trades\", \"## Posiciones\");\nconst posiciones = sectionBetween(\"## Posiciones\", \"## Alertas\");\nconst alertas = sectionBetween(\"## Alertas\", \"## Parámetros\");\nconst params = sectionBetween(\"## Parámetros\", null);\n\n// Parse resumen clave-valor\nconst resumenKV = resumen\n  .filter(l => l.startsWith(\"- \"))\n  .map(l => l.slice(2))\n  .map(l => {\n    const idx = l.indexOf(\":\");\n    if (idx === -1) return null;\n    return { k: l.slice(0, idx).trim(), v: l.slice(idx + 1).trim() };\n  })\n  .filter(Boolean);\n\n// Parse posiciones a tabla\n// Formato esperado: - **TICKER**: X sh | avg Y | close Z | mv A | pnl B\nconst posRows = posiciones\n  .filter(l => l.startsWith(\"- \"))\n  .map(l => l.slice(2))\n  .map(l => {\n    const m = l.match(/^\\*\\*(.+?)\\*\\*:\\s*([0-9.]+)\\s*sh\\s*\\|\\s*avg\\s*([0-9.]+)\\s*\\|\\s*close\\s*([0-9.]+)\\s*\\|\\s*mv\\s*([0-9.]+)\\s*\\|\\s*pnl\\s*([-\\d.]+%)/i);\n    if (!m) return null;\n    return {\n      ticker: m[1],\n      sh: m[2],\n      avg: m[3],\n      close: m[4],\n      mv: m[5],\n      pnl: m[6],\n    };\n  })\n  .filter(Boolean);\n\nconst resumenCards = resumenKV.map(({k,v}) => `\n  <div style=\"border:1px solid #e5e7eb;border-radius:12px;padding:10px;background:#ffffff;\">\n    <div style=\"font-size:12px;color:#6b7280;margin-bottom:4px;\">${esc(k)}</div>\n    <div style=\"font-size:16px;font-weight:800;color:#111827;\">${mdBold(esc(v))}</div>\n  </div>\n`).join(\"\");\n\nconst posTable = posRows.length ? `\n  <table style=\"width:100%;border-collapse:separate;border-spacing:0;overflow:hidden;border:1px solid #e5e7eb;border-radius:14px;background:#ffffff;\">\n    <thead>\n      <tr>\n        <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Ticker</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Shares</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Avg</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Close</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">MV</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">PnL</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${posRows.map(r => `\n        <tr>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;\"><b>${esc(r.ticker)}</b></td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.sh)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.avg)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.close)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.mv)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.pnl)}</td>\n        </tr>\n      `).join(\"\")}\n    </tbody>\n  </table>\n` : `<div style=\"color:#6b7280;\">(Sin posiciones)</div>`;\n\nconst listBlock = (title, arr) => {\n  const items = arr.filter(l => l.startsWith(\"- \")).map(l => `<li>${mdBold(esc(l.slice(2)))}</li>`).join(\"\");\n  if (!items) return \"\";\n  return `\n    <div style=\"border:1px solid #e5e7eb;border-radius:14px;padding:14px;background:#ffffff;margin-top:12px;\">\n      <div style=\"font-weight:900;margin-bottom:8px;\">${esc(title)}</div>\n      <ul style=\"margin:0 0 0 18px;padding:0;line-height:1.45;\">${items}</ul>\n    </div>\n  `;\n};\n\nconst html = `\n<div style=\"font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial; background:#f3f4f6; padding:18px;\">\n  <div style=\"max-width:820px;margin:0 auto;\">\n    <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:18px;\">\n      <div style=\"font-size:22px;font-weight:900;margin:0 0 4px;\">MID — Reporte diario</div>\n      <div style=\"color:#6b7280;font-size:12px;\">${new Date().toISOString()}</div>\n    </div>\n\n    <div style=\"display:grid;grid-template-columns:repeat(2,minmax(0,1fr));gap:10px;margin:12px 0;\">\n      ${resumenCards}\n    </div>\n\n    <div style=\"margin:12px 0;\">\n      <div style=\"font-weight:900;margin:0 0 8px;\">Posiciones actuales</div>\n      ${posTable}\n    </div>\n\n    ${listBlock(\"Trades de hoy\", trades)}\n    ${listBlock(\"Alertas / avisos\", alertas)}\n    ${listBlock(\"Parámetros clave\", params)}\n\n    <div style=\"color:#6b7280;font-size:12px;margin-top:14px;text-align:center;\">Enviado automáticamente con n8n</div>\n  </div>\n</div>\n`;\n\nreturn [{ json: { ...$json, html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        176
      ],
      "id": "4a351fec-1f9b-43b8-b6ce-774bf95bebe2",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fromEmail": "ppherrero90@gmail.com",
        "toEmail": "ppherrero90@gmail.com",
        "subject": "CLOSE",
        "html": "={{$json.html}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1520,
        512
      ],
      "id": "8d5f8a89-a76e-4ca3-a085-fed92f5bf2fb",
      "name": "Send an Email2",
      "webhookId": "a74a6dd5-16a2-45f7-9984-5c179d9bea3a",
      "credentials": {
        "smtp": {
          "id": "jRnDyceGJIdQWoYY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.data || \"\").trim();\n\nconst esc = (s) => s\n  .replace(/&/g, \"&amp;\")\n  .replace(/</g, \"&lt;\")\n  .replace(/>/g, \"&gt;\");\n\nconst mdBold = (s) => s.replace(/\\*\\*(.+?)\\*\\*/g, \"<b>$1</b>\");\n\nconst lines = raw.split(\"\\n\").map(l => l.trim());\n\n// Helpers para encontrar secciones\nfunction sectionBetween(startHeader, endHeader) {\n  const start = lines.findIndex(l => l.startsWith(startHeader));\n  if (start === -1) return [];\n  const end = endHeader\n    ? lines.findIndex((l, i) => i > start && l.startsWith(endHeader))\n    : -1;\n  return lines.slice(start + 1, end === -1 ? lines.length : end);\n}\n\n// Extrae resumen (líneas con \"- ...\")\nconst resumen = sectionBetween(\"## Resumen\", \"## Trades\");\nconst trades = sectionBetween(\"## Trades\", \"## Posiciones\");\nconst posiciones = sectionBetween(\"## Posiciones\", \"## Alertas\");\nconst alertas = sectionBetween(\"## Alertas\", \"## Parámetros\");\nconst params = sectionBetween(\"## Parámetros\", null);\n\n// Parse resumen clave-valor\nconst resumenKV = resumen\n  .filter(l => l.startsWith(\"- \"))\n  .map(l => l.slice(2))\n  .map(l => {\n    const idx = l.indexOf(\":\");\n    if (idx === -1) return null;\n    return { k: l.slice(0, idx).trim(), v: l.slice(idx + 1).trim() };\n  })\n  .filter(Boolean);\n\n// Parse posiciones a tabla\n// Formato esperado: - **TICKER**: X sh | avg Y | close Z | mv A | pnl B\nconst posRows = posiciones\n  .filter(l => l.startsWith(\"- \"))\n  .map(l => l.slice(2))\n  .map(l => {\n    const m = l.match(/^\\*\\*(.+?)\\*\\*:\\s*([0-9.]+)\\s*sh\\s*\\|\\s*avg\\s*([0-9.]+)\\s*\\|\\s*close\\s*([0-9.]+)\\s*\\|\\s*mv\\s*([0-9.]+)\\s*\\|\\s*pnl\\s*([-\\d.]+%)/i);\n    if (!m) return null;\n    return {\n      ticker: m[1],\n      sh: m[2],\n      avg: m[3],\n      close: m[4],\n      mv: m[5],\n      pnl: m[6],\n    };\n  })\n  .filter(Boolean);\n\nconst resumenCards = resumenKV.map(({k,v}) => `\n  <div style=\"border:1px solid #e5e7eb;border-radius:12px;padding:10px;background:#ffffff;\">\n    <div style=\"font-size:12px;color:#6b7280;margin-bottom:4px;\">${esc(k)}</div>\n    <div style=\"font-size:16px;font-weight:800;color:#111827;\">${mdBold(esc(v))}</div>\n  </div>\n`).join(\"\");\n\nconst posTable = posRows.length ? `\n  <table style=\"width:100%;border-collapse:separate;border-spacing:0;overflow:hidden;border:1px solid #e5e7eb;border-radius:14px;background:#ffffff;\">\n    <thead>\n      <tr>\n        <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Ticker</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Shares</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Avg</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">Close</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">MV</th>\n        <th style=\"text-align:right;padding:10px;border-bottom:1px solid #e5e7eb;background:#f9fafb;\">PnL</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${posRows.map(r => `\n        <tr>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;\"><b>${esc(r.ticker)}</b></td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.sh)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.avg)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.close)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.mv)}</td>\n          <td style=\"padding:10px;border-bottom:1px solid #f1f5f9;text-align:right;\">${esc(r.pnl)}</td>\n        </tr>\n      `).join(\"\")}\n    </tbody>\n  </table>\n` : `<div style=\"color:#6b7280;\">(Sin posiciones)</div>`;\n\nconst listBlock = (title, arr) => {\n  const items = arr.filter(l => l.startsWith(\"- \")).map(l => `<li>${mdBold(esc(l.slice(2)))}</li>`).join(\"\");\n  if (!items) return \"\";\n  return `\n    <div style=\"border:1px solid #e5e7eb;border-radius:14px;padding:14px;background:#ffffff;margin-top:12px;\">\n      <div style=\"font-weight:900;margin-bottom:8px;\">${esc(title)}</div>\n      <ul style=\"margin:0 0 0 18px;padding:0;line-height:1.45;\">${items}</ul>\n    </div>\n  `;\n};\n\nconst html = `\n<div style=\"font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial; background:#f3f4f6; padding:18px;\">\n  <div style=\"max-width:820px;margin:0 auto;\">\n    <div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:16px;padding:18px;\">\n      <div style=\"font-size:22px;font-weight:900;margin:0 0 4px;\">CLOSE — Reporte diario</div>\n      <div style=\"color:#6b7280;font-size:12px;\">${new Date().toISOString()}</div>\n    </div>\n\n    <div style=\"display:grid;grid-template-columns:repeat(2,minmax(0,1fr));gap:10px;margin:12px 0;\">\n      ${resumenCards}\n    </div>\n\n    <div style=\"margin:12px 0;\">\n      <div style=\"font-weight:900;margin:0 0 8px;\">Posiciones actuales</div>\n      ${posTable}\n    </div>\n\n    ${listBlock(\"Trades de hoy\", trades)}\n    ${listBlock(\"Alertas / avisos\", alertas)}\n    ${listBlock(\"Parámetros clave\", params)}\n\n    <div style=\"color:#6b7280;font-size:12px;margin-top:14px;text-align:center;\">Enviado automáticamente con n8n</div>\n  </div>\n</div>\n`;\n\nreturn [{ json: { ...$json, html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        512
      ],
      "id": "b349ca8e-d648-4c24-a3c2-6c65c3cbbbca",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 35
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -224
      ],
      "id": "bebf52fb-1b58-4770-809d-362009b7e511",
      "name": "Schedule OPEN"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/history.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        608,
        -384
      ],
      "id": "5cda6055-fd8b-41ab-a155-63a9596a070e",
      "name": "Read history",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        800,
        -384
      ],
      "id": "c9b5393c-0eea-4098-9725-e9117329c4e2",
      "name": "Extract history",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1) snapshot: lo pillamos explícitamente del nodo Snapshot\nconst snapshot = $items(\"Snapshot OPEN\")[0].json.snapshot;\n\n// 2) history (texto) viene del nodo Extract history\nlet history = [];\ntry {\n  const raw = ($json.data || \"\").trim();\n  const parsed = raw ? JSON.parse(raw) : [];\n  history = Array.isArray(parsed) ? parsed : [];\n} catch (e) {\n  history = [];\n}\n\n// 3) añadimos snapshot (ya NO será null)\nhistory.push(snapshot);\n\n// 4) devolvemos el texto JSON final\nreturn [{\n  json: {\n    historyText: JSON.stringify(history, null, 2)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -384
      ],
      "id": "1bea70b0-18ea-4b7e-a3ec-8a0ebdcb64e7",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/history.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1360,
        -384
      ],
      "id": "a1f2f32b-4337-4395-a91b-cf7c90843885",
      "name": "Write History"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.historyText || \"[]\";\n\nconst data = Buffer.from(text, \"utf8\").toString(\"base64\");\n\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data,\n      mimeType: \"application/json\",\n      fileName: \"history.json\"\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -384
      ],
      "id": "c77378cf-5bef-4555-9dd3-30a204b0f89b",
      "name": "To Binary"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/history.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        400,
        16
      ],
      "id": "689e162e-cf22-406a-a240-14c7be91824e",
      "name": "Read history1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        592,
        16
      ],
      "id": "dd8ac0ae-b319-479a-8bd6-da5fefd4ff7a",
      "name": "Extract history1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1) snapshot: lo pillamos explícitamente del nodo Snapshot\nconst snapshot = $items(\"Snapshot MID\")[0].json.snapshot;\n\n// 2) history (texto) viene del nodo Extract history\nlet history = [];\ntry {\n  const raw = ($json.data || \"\").trim();\n  const parsed = raw ? JSON.parse(raw) : [];\n  history = Array.isArray(parsed) ? parsed : [];\n} catch (e) {\n  history = [];\n}\n\n// 3) añadimos snapshot (ya NO será null)\nhistory.push(snapshot);\n\n// 4) devolvemos el texto JSON final\nreturn [{\n  json: {\n    historyText: JSON.stringify(history, null, 2)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        16
      ],
      "id": "fa76c90b-8480-4b67-8955-ee2606c8ec26",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/history.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1152,
        16
      ],
      "id": "45a05e26-ef36-40b7-824b-3e29479547c8",
      "name": "Write History1"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.historyText || \"[]\";\n\nconst data = Buffer.from(text, \"utf8\").toString(\"base64\");\n\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data,\n      mimeType: \"application/json\",\n      fileName: \"history.json\"\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        16
      ],
      "id": "eb0a4bcc-a7d6-4ff3-9ac5-fc953087c993",
      "name": "To Binary1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.data || $json.text || \"\";\n\n// helpers\nconst pick = (re) => {\n  const m = raw.match(re);\n  return m ? m[1] : null;\n};\nconst num = (s) => (s == null ? null : Number(String(s).replace(/,/g, \"\")));\n\nconst snapshot = {\n  ts: new Date().toISOString(),\n  slot: \"MID\",\n\n  equityPre: num(pick(/Equity \\(pre\\): \\*\\*([0-9.]+)\\*\\*/)),\n  equityPost: num(pick(/Equity \\(post\\): \\*\\*([0-9.]+)\\*\\*/)),\n  cash: num(pick(/Cash: \\*\\*([0-9.]+)\\*\\*/)),\n  exposurePct: num(pick(/Exposición: \\*\\*([-0-9.]+)%\\*\\*/)),\n  drawdownPct: num(pick(/Drawdown \\(vs pico\\): \\*\\*([-0-9.]+)%\\*\\*/)),\n  targetPerPos: num(pick(/Target por posición .*?: \\*\\*([0-9.]+)\\*\\*/)),\n  rawLen: raw.length\n};\n\nreturn [{ json: { ...$json, snapshot } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        16
      ],
      "id": "5ec3c859-99df-4490-bc70-c266dbdd642f",
      "name": "Snapshot MID"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/history.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        400,
        352
      ],
      "id": "c079d0ac-e801-4777-a561-7398d694e26e",
      "name": "Read history2",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        592,
        352
      ],
      "id": "2f657740-a911-45e2-95a4-2d0581f7daa5",
      "name": "Extract history2",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1) snapshot: lo pillamos explícitamente del nodo Snapshot\nconst snapshot = $items(\"Snapshot CLOSE\")[0].json.snapshot;\n\n// 2) history (texto) viene del nodo Extract history\nlet history = [];\ntry {\n  const raw = ($json.data || \"\").trim();\n  const parsed = raw ? JSON.parse(raw) : [];\n  history = Array.isArray(parsed) ? parsed : [];\n} catch (e) {\n  history = [];\n}\n\n// 3) añadimos snapshot (ya NO será null)\nhistory.push(snapshot);\n\n// 4) devolvemos el texto JSON final\nreturn [{\n  json: {\n    historyText: JSON.stringify(history, null, 2)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        352
      ],
      "id": "9c8d4764-7e3e-4023-bd70-1f322f99c9d4",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/history.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1152,
        352
      ],
      "id": "d28ad30b-7129-4b68-be7a-c496431d063c",
      "name": "Write History2"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.historyText || \"[]\";\n\nconst data = Buffer.from(text, \"utf8\").toString(\"base64\");\n\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data,\n      mimeType: \"application/json\",\n      fileName: \"history.json\"\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        352
      ],
      "id": "510b6fad-6746-4af2-9c73-f16077e1463f",
      "name": "To Binary2"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.data || $json.text || \"\";\n\n// helpers\nconst pick = (re) => {\n  const m = raw.match(re);\n  return m ? m[1] : null;\n};\nconst num = (s) => (s == null ? null : Number(String(s).replace(/,/g, \"\")));\n\nconst snapshot = {\n  ts: new Date().toISOString(),\n  slot: \"OPEN\",\n\n  equityPre: num(pick(/Equity \\(pre\\): \\*\\*([0-9.]+)\\*\\*/)),\n  equityPost: num(pick(/Equity \\(post\\): \\*\\*([0-9.]+)\\*\\*/)),\n  cash: num(pick(/Cash: \\*\\*([0-9.]+)\\*\\*/)),\n  exposurePct: num(pick(/Exposición: \\*\\*([-0-9.]+)%\\*\\*/)),\n  drawdownPct: num(pick(/Drawdown \\(vs pico\\): \\*\\*([-0-9.]+)%\\*\\*/)),\n  targetPerPos: num(pick(/Target por posición .*?: \\*\\*([0-9.]+)\\*\\*/)),\n  rawLen: raw.length\n};\n\nreturn [{ json: { ...$json, snapshot } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -384
      ],
      "id": "637ff0ee-6910-4568-a0e1-59fd6b1b3df2",
      "name": "Snapshot OPEN"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.data || $json.text || \"\";\n\n// helpers\nconst pick = (re) => {\n  const m = raw.match(re);\n  return m ? m[1] : null;\n};\nconst num = (s) => (s == null ? null : Number(String(s).replace(/,/g, \"\")));\n\nconst snapshot = {\n  ts: new Date().toISOString(),\n  slot: \"CLOSE\",\n\n  equityPre: num(pick(/Equity \\(pre\\): \\*\\*([0-9.]+)\\*\\*/)),\n  equityPost: num(pick(/Equity \\(post\\): \\*\\*([0-9.]+)\\*\\*/)),\n  cash: num(pick(/Cash: \\*\\*([0-9.]+)\\*\\*/)),\n  exposurePct: num(pick(/Exposición: \\*\\*([-0-9.]+)%\\*\\*/)),\n  drawdownPct: num(pick(/Drawdown \\(vs pico\\): \\*\\*([-0-9.]+)%\\*\\*/)),\n  targetPerPos: num(pick(/Target por posición .*?: \\*\\*([0-9.]+)\\*\\*/)),\n  rawLen: raw.length\n};\n\nreturn [{ json: { ...$json, snapshot } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        352
      ],
      "id": "20e672f7-96ba-4bc6-b22f-0e0b0af4f8bb",
      "name": "Snapshot CLOSE"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.31.46.182:5000/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        -224
      ],
      "id": "2fa469e4-ea12-4be8-88b3-2aa14c5a4312",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.31.46.182:5000/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "mid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        176
      ],
      "id": "a6a1bb8f-309b-4107-8b4e-b008bce25bea",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.31.46.182:5000/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "close"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        528
      ],
      "id": "aa3329b4-44fb-4de9-b3b4-57b93caca904",
      "name": "HTTP Request2"
    }
  ],
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Snapshot OPEN",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Snapshot MID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Snapshot CLOSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule CLOSE": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule MID": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send an Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send an Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule OPEN": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        []
      ]
    },
    "Read history": {
      "main": [
        [
          {
            "node": "Extract history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract history": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "To Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Binary": {
      "main": [
        [
          {
            "node": "Write History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read history1": {
      "main": [
        [
          {
            "node": "Extract history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract history1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "To Binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Binary1": {
      "main": [
        [
          {
            "node": "Write History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot MID": {
      "main": [
        [
          {
            "node": "Read history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read history2": {
      "main": [
        [
          {
            "node": "Extract history2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract history2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "To Binary2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Binary2": {
      "main": [
        [
          {
            "node": "Write History2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot OPEN": {
      "main": [
        [
          {
            "node": "Read history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapshot CLOSE": {
      "main": [
        [
          {
            "node": "Read history2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "cde3a0ef-c187-4463-8da5-a1a5364762b1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ec48C5eBSsw6R5lS",
  "tags": []
}